#profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.mask{
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;

}

.item{
    display: flex;
    align-items: center;
    height: 5rem;
}

.rounded-icon{
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.info{
    margin-left: 5px;
    line-height: 1.1rem;
}

.options{
    justify-content: center;
    font-size: 1.2rem;
}